$def with (todos)

<br>
<div>
    <form action="" method="post">
        <input type="text" name="input_text_add">
        <input type="submit" value="Add">
    </form>
</div>

<table>
    <tr>
        <th>MY LIST</th>
        <th></th>
    </tr>
$for todo in todos:
    <tr>
        <td>$todo[0]</td>
        <td>$todo[1]</td>
        <td>
            <form action="/del/$todo[0]" method="post">
                <input type="submit" value="Delete"/>
            </form>
        </td>

        <td>
            <form action="/edit/$todo[0]" method="get">
                <input type="submit" value="Edit"/>
            </form>
        </td>
    </tr>
</table>